// Colors
$primary: #2980b9;
$primaryLight: #3498db;
$grayLight: #ecf0f1;

$backgroundDark: #353b48;
$backgroundBold: #2f3640;
$backgroundLight: #464646;
$backgroundList: #404040;
$backgroundThin: #e1e1e1;
$backgroundVue: #2e86b4;

$textColor: #747d8c;
$textColorLight: #f1f2f6;
$textColorOwner: #20bf6b;

$iconColor: #d8d8d8;

$LaravelColor: #d35400;
$LaravelColorLight: #e67e22;
$LaravelColorButton: #c0392b;
$LaravelColorButtonLight: #e74c3c;

$jsColor: #20bf6b;
$jsColorLight: #26de81;
$jsColorButton: #0fb9b1;
$jsColorButtonLight: #2bcbba;

$vueColor: #2e86b4;
$vueColorLight: #56a1c8;
$vueColorButton: #2c779e;
$vueColorButtonLight: #327598;

$flutterColor: #606060;
$flutterColorLight: #7c7c7c;
$flutterColorButton: #545454;
$flutterColorButtonLight: #5e5e5e;